/* webpage */
body {
    background-color:lightblue;
    /* position:relative; */
}

/* index.html */
.box, .signupform, .checkinoptions, .signin1box { /* signin box */
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    top: 100px;
    height: 50vh;
    position: relative;
    text-align: center;
}
.b1 { /* button box */
    /* border: 1px solid black; */
    position: relative;
    top: 90px;
}
.signinbutton { /* check in button */
    border: transparent;
    width: 20%;
    padding: 20px 0px;
    border-radius:15px;
    font-size: 32px;
    font-weight: 500;
}
.bottom { /* sign up box */
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    vertical-align: middle;
}
.bottom button, .signupformbuttons button { /* sign up button */
    border: transparent;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius:10px;
    font-weight: 500;
    font-size: 20px;
}
.bottom label {
    font-size: 20px;
}
.signinbutton:hover {
    background-color: grey;
}

/* createacc.php */
/* - sign up box -> index.html */
.signupheader, .signinheader, .signin1header { /* sign up header */
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}
.inst, .signininst { /* form instructions */
    margin: 15px;
}
.signup-form { /* sign up form */
    /* border: 1px solid green; */
    height: auto;
}
.newuser { /* input fields */
    /* border: 1px solid orange; */
    padding: 5px 0px;
    width: 40%;
    margin: auto;
}
.newuser input, .existuser input { /* input fields */
    width: 100%;
    padding: 3px 0px 3px 6px;
    border-radius: 5px;
}
.newuserocc { /* occupation */
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newuserocc p { /* occupation */
    font-weight: bold;
}
.radiooptions { /* occupation radio options*/
    /* border: 1px solid black; */
    text-align: left;
    margin-left: 20px;
}
.fausignup { /* fau sign up */
    /* border: 1px solid black; */
    margin-top: 10px;
}
.leadsignin { /* already have an account */
    /* border: 1px solid purple; */
    margin: 20px 0px 10px 0px;
}
.signupformbuttons { /* sign up form buttons */
    /* border: 1px solid blue; */
    margin: 30px 0px 10px 0px;
}
.fausignup button, .leadsignin button, .leadsignup button { /* button: fau sign up, log in */
    border: transparent;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius:10px;
    font-weight: 500;
}

/* login.php */
/* .checkinoptions -> index.html 
    - .signinheader, .leadsignup button, .signininst -> createacc.php */
.leadsignup { /* dont have an account? */
    margin-top: 50px;
}
.signin1, .signin2, .signin3, .signin1form { /* 3 sign in options */
    margin: 20px;
}
.signin1 button, .signin2 button, .signin3 label { /* 3 buttons design */
    border: transparent;
    padding: 10px 20px;
    border-radius:10px;
    font-weight: 500;
    font-size: 20px;
    background-color: whitesmoke;
}

/* signin.php */
/* .signin1box -> index.html
    - .signin1header -> createacc.php 
    - .signin1form -> login.php */
/* .signin1form {
    border: 3px solid red;
} */

.existuser { /* sign in input field */
    /* border: 1px solid purple; */
    margin: 5px;
}
.signinformbuttons button { /* sign in form buttons */
    /* border: 1px solid orange; */
    border: transparent;
    padding: 5px 20px;
    border-radius:10px;
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0px;
}
::placeholder{
    color: grey;
}
#equipInput {
  background-image: url('/images/search.png');
  background-position: 10px 12px; /* Position the search icon */
  background-size: 1.3em;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 1px solid rgb(255, 255, 255); 
  margin-bottom: 12px;
   
}

#equipTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }

#equipTable th, #equipTable td {
    text-align: left; 
    padding: 12px; 
}

#equipTable tr {
    border: 1px solid rgb(253, 253, 253);
}

#equipTable tr.header, #equipTable tr:hover {
    
    background-color: #c2b9b9;
}